
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutFurniAccount.cshtml";
}
@* @await Component.InvokeAsync("Deneme")
 *@


@*  <vc:trybetul></vc:trybetul>
 *@ 

@await Component.InvokeAsync("TryBetul")


 <br />
<div class="col-md-8 col-lg-8 pb-4">
  
   
    <form asp-action="ForgetPassword" asp-controller="Account" method="post">

        @if (!string.IsNullOrEmpty(ViewBag.ForgetPasswordSuccessMsg))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>BİLGİ!</strong> @ViewBag.ForgetPasswordSuccessMsg
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (!string.IsNullOrEmpty(ViewBag.ForgetPasswordFailedMsg))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>UYARI!</strong> @ViewBag.ForgetPasswordFailedMsg
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div asp-validation-summary="All" style="color:red"></div>
        <div class="row">
            <div class="col-12 mb-5">
                <div class="form-group">
                    <label class="text-black" for="fname">Email / Kullanıcı Adı:</label>
                    <input type="text" class="form-control" id="emailtext" name="emailorUsername">
                </div>
            </div>
            
        </div>
        <button type="submit" class="btn btn-primary-hover-outline">Şifre Yenilemek için Email Gönder</button>
    </form>

</div>

